@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

@import "animations/blink.css";
@import "animations/go-to-left.css";
@import "animations/scale-up.css";
@import "animations/wave.css";

@import "colors/ruby.css";
@import "colors/orange.css";
@import "colors/yellow.css";
@import "colors/emerald.css";
@import "colors/sky.css";
@import "colors/blue.css";
@import "colors/purple.css";
@import "colors/slate.css";

@import "components/button.css";
@import "components/card.css";
@import "components/logo.css";
@import "components/navbar.css";

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@media (prefers-color-scheme: light) {
  ::selection {
    background-color: var(--second-color);
    color: var(--hover-color);
  }
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: var(--second-color);
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
p,
pre {
  margin: 0;
}

input,
select,
option,
button,
textarea {
  font-family: "Inter", sans-serif;
}

p, code {
  line-height: 1.5;
  font-size: 16pt;
  padding: 0.5rem 0 !important;
}

pre.syntax-code {
  border: 2px solid var(--first-color);
  width: 100%;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;

  padding: 8px 16px;

  & > code {
    word-break: break-all;
  }
}

pre {
  line-height: 1;
}

h1 {
  font-size: 60px;
  padding: 1rem 0 !important;
}

h2 {
  font-size: 48px;
  padding: 1rem 0 !important;
}

h3 {
  font-size: 36px;
  padding: 1rem 0 !important;
}

.tz-application {
  display: grid;
  grid-template-columns: 300px repeat(4, 1fr);
  width: 100%;
  height: 100vh;
}

.tz-align-horizontal {
  display: flex;
  flex-direction: row;
}

.tz-align-vertical {
  display: flex;
  flex-direction: column;
}

.tz-center-element {
  justify-content: center;
  align-items: center;
}

a {
  color: var(--text-color);

  &:hover {
    font-weight: 600;
  }

  &:active {
    text-decoration: none;
  }
}

.tz-hero {
  border-bottom: 2px solid #1e293b;
  padding: 32px;
}