.tz-card {
  width: 600px;
  border: 4px solid var(--first-color);
  transition: 50ms;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 16px 16px 0 var(--first-color);
  }

  &:active {
    background-color: var(--first-color);
    color: var(--hover-color);
  }
}

@media (prefers-color-scheme: dark) {
  .tz-card:active {
    color: var(--text-color);
  }
}

.tz-card > div:last-child {
  padding: 16px 24px;
}

.tz-card > div:last-child {
  padding: 16px 24px;
}

.tz-card > div:last-child > h3 {
  font-weight: bold;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tz-card > div:last-child > p {
  line-height: 32px;
  padding-bottom: 0 !important;
}

.tz-label {
  position: absolute;
  padding: 8px 24px;
  top: 16px;
  right: 16px;
  z-index: 1;
  border-radius: 50px;
  min-width: 64px;
  text-align: center;

  background-color: var(--first-color);
  color: var(--hover-color);
}

@media (prefers-color-scheme: dark) {
  .tz-card:active, .tz-label {
    color: var(--text-color);
  }
}