.tz-square-logo {
  --stripe-size: 40px;

  background-color: var(--first-color);
  color: white;
  border-radius: 16px;
  font-size: 46px;
  padding: 16px;
  aspect-ratio: 1 / 1;
  user-select: none;
  display: flex;
  align-items: end;
}

.tz-square-logo.stripes {
  background: repeating-linear-gradient(
    -45deg,
    var(--first-color),
    var(--first-color) var(--stripe-size),
    var(--second-color) var(--stripe-size),
    var(--second-color) calc(var(--stripe-size) * 2)
  );
}
