.tz-navbar {
  width: 300px;
  max-height: 100vh;
  background-color: var(--hover-color);
}

.tz-navbar-item {
  width: calc(100% - 16px);
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid transparent;

  padding: 16px 32px;
  text-align: left;
  font-size: 13pt;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  text-decoration: none;

  &:hover {
    border-color: var(--first-color);
    border-left-color: transparent;
  }

  &:active {
    background-color: var(--first-color);
    color: white;
  }
}

.tz-navbar-item.selected {
  font-weight: 600;
  cursor: default;
}

.tz-navbar-item.selected {
  background-color: var(--first-color);
  color: white;
}