@media (prefers-color-scheme: light) {
  body.tz-blue-color {
    --background-color: #dbeafe; /* Blue 100 */
    --primary-color: #1e40af; /* Blue 800 */
    --text-color: #1e3a8a; /* Blue 900 */
    --hover-color: #bfdbfe; /* Blue 200 */

    --first-color: #1e40af; /* Blue 800 */
    --second-color: #1e3a8a; /* Blue 900 */
  }
}

@media (prefers-color-scheme: dark) {
  body.tz-blue-color {
    --background-color: #0b0b16; /* Blue 990 */
    --text-color: #dbeafe; /* Blue 100 */
    --hover-color: #13162c; /* Blue 975 */

    --first-color: #1b2f6e; /* Blue 925 */
    --second-color: #172554; /* Blue 950 */
  }
}