@media (prefers-color-scheme: light) {
  body.tz-purple-color {
    --background-color: #f3e8ff; /* Purple 100 */
    --primary-color: #6b21a8; /* Purple 800 */
    --text-color: #581c87; /* Purple 900 */
    --hover-color: #e9d5ff; /* Purple 200 */

    --first-color: #6b21a8; /* Purple 800 */
    --second-color: #581c87; /* Purple 900 */
  }
}

@media (prefers-color-scheme: dark) {
  body.tz-purple-color {
    --background-color: #140619; /* Purple 990 */
    --text-color: #f3e8ff; /* Purple 100 */
    --hover-color: #220c33; /* Purple 975 */

    --first-color: #491275; /* Purple 925 */
    --second-color: #3b0764; /* Purple 950 */
  }
}