@media (prefers-color-scheme: light) {
  body.tz-red-color {
    --background-color: #fee2e2; /* Red 100 */
    --primary-color: #991b1b; /* Red 800 */
    --text-color: #7f1d1d; /* Red 900 */
    --hover-color: #fecaca; /* Red 200 */

    --first-color: #991b1b; /* Red 800 */
    --second-color: #7f1d1d; /* Red 900 */
  }
}

@media (prefers-color-scheme: dark) {
  body.tz-red-color {
    --background-color: #160502; /* Red 990 */
    --text-color: #fee2e2; /* Red 100 */
    --hover-color: #280b05; /* Red 975 */

    --first-color: #611315; /* Red 925 */
    --second-color: #450a0a; /* Red 950 */
  }
}