@media (prefers-color-scheme: light) {
  body.tz-rose-color {
    --background-color: #ffe4e6; /* Rose 100 */
    --primary-color: #9f1239; /* Rose 800 */
    --text-color: #881337; /* Rose 900 */
    --hover-color: #fecdd3; /* Rose 200 */

    --first-color: #9f1239; /* Rose 800 */
    --second-color: #881337; /* Rose 900 */
  }
}

@media (prefers-color-scheme: dark) {
  body.tz-rose-color {
    --background-color: #180506; /* Rose 990 */
    --text-color: #ffe4e6; /* Rose 100 */
    --hover-color: #2a0b0f; /* Rose 975 */

    --first-color: #690b28; /* Rose 925 */
    --second-color: #4c0519; /* Rose 950 */
  }
}