@media (prefers-color-scheme: light) {
  body.tz-sky-color {
    --background-color: #e0f2fe; /* Sky 100 */
    --primary-color: #075985; /* Sky 800 */
    --text-color: #0c4a6e; /* Sky 900 */
    --hover-color: #bae6fd; /* Sky 200 */

    --first-color: #075985; /* Sky 800 */
    --second-color: #0c4a6e; /* Sky 900 */
  }
}

@media (prefers-color-scheme: dark) {
  body.tz-sky-color {
    --background-color: #070e14; /* Sky 990 */
    --text-color: #e0f2fe; /* Sky 100 */
    --hover-color: #0e1b27; /* Sky 975 */

    --first-color: #0a3c5b; /* Sky 925 */
    --second-color: #082f49; /* Sky 950 */
  }
}