@media (prefers-color-scheme: light) {
  body.tz-slate-color {
    --background-color: #f1f5f9; /* Slate 100 */
    --primary-color: #1e293b; /* Slate 800 */
    --text-color: #0f172a; /* Slate 900 */
    --hover-color: #e2e8f0; /* Slate 200 */

    --first-color: #334155; /* Slate 700 */
    --second-color: #1e293b; /* Slate 800 */
  }
}

@media (prefers-color-scheme: dark) {
  body.tz-slate-color {
    --background-color: #01030e; /* Slate 975 */
    --text-color: #f1f5f9; /* Slate 100 */
    --hover-color: #020617; /* Slate 950 */

    --first-color: #162032; /* Slate 950 */
    --second-color: #0f172a; /* Slate 900 */
  }
}